*{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: black;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
.special{
    color: red;
}
/* DESIGING THE HEADER */
header {
    height: 65px;
    width: 100%;
    background-color: rgba(20, 19, 17, 0.5);
    position :fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 10%;
    color: white;
    margin-left: 10%;
    font-size: 30px;
    line-height: 10px;    
}


.header-left{
    float: left;
    text-align: left;
    width: 30%;
}

.header-right{
    float: right;
}
.header-right a{
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all .7s;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.header-right a:hover {
    background-color: rgba(255, 145, 0, 0.534);
}

/* DESIGING THE TOP SECTION */
.container img{
    float: right;
    width: 50%;
}

.left{
    color: white;
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    
    

}

.left h4{
    letter-spacing: 1px;
    font-size: 35px;
    height: 20px;
    width: 40%;
    font-family: fantasy;
    line-height: 15px;
}
.left h1{
    font-size: 80px;
    word-wrap: normal;
    line-height: 20px;
    letter-spacing: 8px;
}

.top{
    padding-left: 5%;
    display: flex;
    border-left: 2px solid red;
}

.changing:before{
    display: inline-block;
    content: 'COMPETITIVE CODER';
    color: red;
    font-size: 50px;
    font-family: monospace;
    text-align: justify;
    animation-name: head;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    margin-bottom: 50px;
}

@keyframes head {
    0% { opacity:1;}
    10% { opacity:0;}
    20% { opacity:1; content: "Front-End Developer";}
    30% { opacity:0;}
    40% { opacity:1; content: "Musician"}
    50% { opacity:0;}
    60% {opacity:1; content: "Photographer"}
    70% {opacity:0;}
    80% {opacity:1; content: "Sophomore"}
    90% {opacity:0;}
    100% {opacity:1; content: "Innovator, Believer"}
}

.left_bottom h2{
    font-size: 30px;
    font-family: fantasy;
    text-align: center;
    line-height: 10px;
}




.btn-wrapper {
    text-align: center;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.btn-wrapper p {
    margin: 10px 0;
  }
  
  .linkedin {
    background-color: royalblue;
  }
  
  .facebook {
    background-color: #3b5998;
  }
  
  .twitter {
    background-color: #55acee;
  }
  
  .instagram{
      background-color: red;
  }
  .codeforces{
    background-color: rgba(250, 226, 9, 0.7);
}
.gmail{
    background-color: cornflowerblue;
}
.github{
    background-color: black;
    border: 1px solid white;
}
.youtube{
    background-color: crimson;
}
  .btn {
    display: flex;
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.7;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 15px;
  }

  .message {
    padding: 15px 40px;
    cursor: pointer;
    box-shadow: 0 3px white;
  }

  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }




/* DESIGING THE BOTTOM PORTION */

/*  designing the about me section */
.bottom{
    width: 100%;
    height: 50%;
    border-top: 10px solid rgba(255, 0, 0, 0.678);
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.title{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

.info{
    float: left;
    width: 60%;
    text-align: justify;
    font-size: 20px;
    margin-left: 5%;
    padding-right: 5%;
    border-right: 2px solid white;

}

    
    
}
.photo{
    float: right;
    width: 40%;
    

}
.photo img{
    float: right;
    width: 20%;
    height: 15%;
    margin-right: 10%;
    padding-bottom: 5%;
    padding-left: 5%;
}

.about{
    border-bottom: 1px solid red;
    border-left: 2px solid red;
}











































/*span:before{
    content : '';
    animation: animate infinite 5s;
}
@keyframes animate{
    0%{
        content: "Good !!";
    }
    33%{
        content: "Awesome !";
    
    }
    66%{
        content: " Coder by heart";
    }
    100%{
        content: " yeah"
    }
}*/